

body{
    background: #293462;
}


.mountain__circle{
    border-radius: 50%;
    background: #fff1c1;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
}


.mountain__item{
    background: #fe5f55;
    width: 200px;
    height: 200px;
    transform: rotate(40deg);
    position: absolute;
}


.mountain__item:first-child{
    bottom: -20%;
    right: 0;
}

.mountain__item:last-child{
    bottom: -40%;
    left: -5%;
}